@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Play&display=swap');

body {
    font-family: 'Irish Grover', cursive;
    margin: 0 10% 0 1%;
    width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}

header{
   display: flex;
   flex-direction: row;
   align-items: baseline;
   justify-content: space-between;
   border-bottom: 1px solid grey;
   padding-left: 2em;
   padding-right: 2em;
   width: 100vw;
   position: fixed;
   background-image: linear-gradient(to right, cornflowerblue , aliceblue)
}

header h1 {
   margin-bottom: .5em;
}

header ul{
   margin-right: 4em;
   margin-bottom: .5em;
}

header li{
   list-style: none;
   display: inline;
   margin: 1em;
}

.content{
   display: flex;
   flex-direction: row;
   padding-top: 7em;
   padding-bottom: 13em;
}

.headerTitle {
    font-size: 20px;
}

.headerIcon {
    width: 2vw;
}

.left{
   display: flex;
   flex-direction: column;
   width: 75vw;
}

.right{

}

.card{
   border-bottom: 1px solid grey;
   padding-left: 2em;
}

footer{
   display: flex;
   flex-direction: column;
   align-items: baseline;
   padding-left: 2em;
   position: fixed;
   bottom: 0;
   background-color: white;
   width: 100vw;
   border-top: 1px solid grey;
   padding-bottom: 1em;
   background: gainsboro;
}

.cardLower img{
   width:1.1em;
   height: 1.1em;
}

.cardLower {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   justify-content: flex-end;
}

.cardLower >*{
   margin: 1em;
}

.cardTop{
   display: flex;
   flex-direction: row;
   align-items: baseline;
}

.cardTop>*{
   margin-right: 1em;
}

.sendMsg {
    padding-top: 2%;
}

.sendMsg input[type='submit']{
   margin-left: 94%;
   box-sizing: border-box;
   border: 1px solid gray;
   border-radius: 3px;
   background: #E6E1DF;
   padding: 2px 16px 2px 16px;
   font-family: 'Irish Grover', cursive;
   font-size: 14px;
}

.sendMsg textarea{
   width: 85vw;
   height: 3em;
   margin-top: .5em;
   resize:none;
}

.card h5{
   margin-bottom: 0;
}
